.main-content {

  width: 80%;
  margin: 100px auto;
  border: 3px solid teal;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.item {

  width: 80%;
  border: 2px solid yellowgreen
}